<ion-view view-title="记账">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="¥ 输入金额">
      </label>
    </div>

    <div class="list">
      <label class="item item-input item-select" >
        <div class="input-label">一级类别</div>
        <select>
          <option>衣</option>
          <option selected>食</option>
          <option>住</option>
          <option>住</option>
        </select>
      </label> 
      <label class="item item-input item-select" >
        <div class="input-label">二级类别</div>
        <select>
          <option selected>食</option>
        </select>
      </label>
      <label class="item item-input item-select" >
        <div class="input-label">二级类别</div>
        <select>
          <option selected>食</option>
        </select>
      </label>        
    </div>

    <div>
      <button class="button button-block button-positive">
        记一笔
      </button>
    </div>

  </ion-content>
</ion-view>
